Repository hmcts/bar-api, pull requests merged in 2018-10, with the labels that each got.

#163 AKS Integration
  Dockerfile
  Jenkinsfile_CNP
  docker-compose.yml
  kubernetes/.lint.yml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:bar-api-pr-163

#173 fix master build
  infrastructure/output.tf
Labels: ns:bar-api-pr-173

#174 more fix on master build
  infrastructure/output.tf
Labels: ns:bar-api-pr-174

#171 [BAR-392][AK] storing withdraw with reason and comment
  api/src/main/java/uk/gov/hmcts/bar/api/data/enums/PaymentActionEnum.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionUpdateRequest.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/utils/UtilTest.java
Labels: ns:bar-api-pr-171

#176 rollback liquibase settings
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:bar-api-pr-176

#178 BAR-396 DB changes for 'Completed' status
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
Labels: ns:bar-api-pr-178

#179 [BAR-483][AK] Validate return payment
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  infrastructure/variables.tf
Labels: ns:bar-api-pr-179

#181 BAR485 changes
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-181
