Repository hmcts/bar-api, pull requests merged in 2018-11, with the labels that each got.

#183 [BAR-280][AK] Senior fee clerk pending review page
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionStats.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionsSpecifications.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionStatsTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-183

#182 BAR-397 include 'Completed' status payment instructions in the csv …
  api/src/main/java/uk/gov/hmcts/bar/api/converters/PaymentInstructionsCsvConverter.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/enums/PaymentStatusEnum.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PaymentInstructionCsvRetrieveTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/utils/DbTestUtil.java
Labels: ns:bar-api-pr-182

#185 upgrade to spring 2.1.0
  api/src/main/resources/application.properties
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:bar-api-pr-185

#186 BAR-510 sonar issues resolved
  api/src/main/java/uk/gov/hmcts/bar/api/aop/features/FeatureAspect.java
  api/src/main/java/uk/gov/hmcts/bar/api/audit/AppInsightsAuditRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/errors/ControllerExceptionHandler.java
  api/src/main/java/uk/gov/hmcts/bar/api/converters/PaymentInstructionsCsvConverter.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/exceptions/BadRequestException.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/CaseFeeDetailService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/utils/PaymentStatusEnumConverter.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/utils/Util.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubCaseFeeDetail.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/service/PayHubService.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/AllPayInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/CardInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/CashInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ChequeInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PostalOrderCrudComponentTest.java
Labels: ns:bar-api-pr-186

#188 fix action stats to include status
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionStatsTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:bar-api-pr-188
