Repository hmcts/bar-api, pull requests merged in 2019-10, with the labels that each got.

#281 Aks migration
  Dockerfile
  Jenkinsfile_CNP
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  build.gradle
  charts/bar-api/Chart.yaml
  charts/bar-api/requirements.yaml
  charts/bar-api/values.aat.template.yaml
  charts/bar-api/values.preview.template.yaml
  charts/bar-api/values.yaml
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  web.config
Labels: ns:bar-api-pr-281

#285 Fix appinsights notation to make it work
  api/src/main/resources/bootstrap.yaml
Labels: ns:bar-api-pr-285

#299 added vulnerabilities
  dependency-check-suppressions.xml
Labels: ns:bar-api-pr-299
