Repository hmcts/bar-api, pull requests merged in 2019-01, with the labels that each got.

#193 BAR-285 changes in daily sequence id format
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/BasePaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionReportLine.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionSearchCriteriaDto.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentReference.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentReferenceKey.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentReferenceRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentReferenceService.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubPaymentInstruction.java
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
  api/src/test/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionFlattenDataTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentReferenceServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubPaymentInstructionTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/integration/payhub/service/PayHubServiceTest.java
  dependency-check-suppressions.xml
Labels: ns:bar-api-pr-193

#197 [BAR-632][AK] Adding authorization code to search
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionSearchCriteriaDto.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionsSpecifications.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionSearchTest.java
Labels: ns:bar-api-pr-197

#192 [BAR-587] Full remission validation
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionUpdateValidatorService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/UnallocatedAmountService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/validators/ActionValidator.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/validators/FullRemissionValidator.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/validators/UnallocatedAmountValidator.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/validators/Validator.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/FullRemissionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/TestUtils.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-192
