Repository hmcts/bar-api, pull requests merged in 2019-07, with the labels that each got.

#253 BAR-803 implemented
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionPayhubReference.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionSearchCriteriaDto.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionsSpecifications.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubFullRemission.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubPartialRemission.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/data/PayhubPaymentInstruction.java
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
Labels: ns:bar-api-pr-253

#258 [BAR-820][AK] User registration feature
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
Labels: ns:bar-api-pr-258

#259 [AK] Dependency check update
  api/build.gradle
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:bar-api-pr-259

#260 add subscription var to db module
  infrastructure/main.tf
Labels: ns:bar-api-pr-260

#261 fix parsing error
  infrastructure/main.tf
Labels: ns:bar-api-pr-261

#264 Add subscription
  infrastructure/main.tf
Labels: ns:bar-api-pr-264

#265 [AK] Update helm version to get the latest bar-api from master
  charts/bar-api/Chart.yaml
Labels: ns:bar-api-pr-265

#270 [AK] add new appinsight lib to web.config
  web.config
Labels: ns:bar-api-pr-270
