Repository hmcts/bar-api, pull requests merged in 2019-04, with the labels that each got.

#219 [BAR-659][AK] Add siteId validation for GET and DELETE of …
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/AllPayInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/sugar/RestActions.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-219

#218 BAR-676 implemented
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PaymentInstructionCsvRetrieveTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/sugar/RestActions.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/utils/DbTestUtil.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-218

#222 [BAR-706][AK] Functional testing of api.
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/AuthenticatorClient.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/FunctionalTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionCreationTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/ReferenceDataTest.java
  api/src/test/resources/functional-test.properties
  charts/bar-api/values.aat.template.yaml
Labels: ns:bar-api-pr-222

#227 [BAR-708][AK] Functional test for editing payment from another site
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/AuthenticatorClient.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/FunctionalTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionCreationTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionUpdateTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/ReferenceDataTest.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/exceptions/PaymentInstructionNotFoundException.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  api/src/test/resources/functional-test.properties
  charts/bar-api/values.aat.template.yaml
Labels: ns:bar-api-pr-227

#235 idam - repoint demo to aat
  infrastructure/demo.tfvars
Labels: ns:bar-api-pr-235

#233 BAR-709 implemented
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/CaseFeeDetailTest.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/CaseFeeDetailService.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/AllPayInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/CashInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ChequeInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PostalOrderCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/CaseFeeDetailServiceTest.java
Labels: ns:bar-api-pr-233

#238 upgrade spring boot version to 2.1.4.
  build.gradle
Labels: ns:bar-api-pr-238

#228 BAR-612 implemented
  api/src/main/java/uk/gov/hmcts/bar/api/converters/PaymentInstructionsCsvConverter.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/BasePaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionReportLine.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PaymentInstructionCsvRetrieveTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/utils/DbTestUtil.java
Labels: ns:bar-api-pr-228

#232 [BAR-719][AK] Fix return/withdraw full remission
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/FunctionalTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionUpdateTest.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/validators/FullRemissionValidator.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionUpdateValidatorServiceTest.java
Labels: ns:bar-api-pr-232
