Repository hmcts/bar-api, pull requests merged in 2019-03, with the labels that each got.

#205 [BAR-637][AK] Adding multisite ability
  api/src/main/java/uk/gov/hmcts/bar/api/BarServiceApplication.java
  api/src/main/java/uk/gov/hmcts/bar/api/auth/BarWrappedHttpRequest.java
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/auth/UserValidationException.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/AppConfig.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/exceptions/MissingSiteIdException.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/BarUser.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/BarUserRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/BarUserService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/utils/Util.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/service/PayHubService.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/controller/SiteController.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/bar/api/auth/MockSiteIdValidationFilter.java
  api/src/test/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilterTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/auth/UserResolverTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/AllPayInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/CardInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/CashInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ChequeInstructionCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PayhubIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PostalOrderCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/sugar/RestActions.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/utils/DbTestUtil.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionSearchTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/BarUserServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/integration/payhub/service/PayHubServiceTest.java
  api/src/test/java/uk/gov/hmcts/bar/multisite/controller/SiteControllerIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/bar/multisite/controller/SiteControllerTest.java
  api/src/test/resources/application-embedded.properties
  build.gradle
  infrastructure/main.tf
  kubernetes/deployment.template.yaml
Labels: ns:bar-api-pr-205

#212 Update saat.tfvars
  infrastructure/saat.tfvars
Labels: ns:bar-api-pr-212

#213 Update saat.tfvars
  infrastructure/saat.tfvars
Labels: ns:bar-api-pr-213

#209 [BAR-671][AK] Add site-id to pi-stats endpoint request to filter users and the related numbers
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-209

#217 switch idam url to http from https.
  infrastructure/saat.tfvars
Labels: ns:bar-api-pr-217

#208 [BAR-588][AK] Fix a bug in the select which counts the payments based on
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
Labels: ns:bar-api-pr-208

#216 [BAR-678] Approver list stats
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionStatus.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionStatusCriteriaDto.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionStatusReferenceKey.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusSpecifications.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/FullRemissionService.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
Labels: ns:bar-api-pr-216

#221 update idam url to the strategic one on aat
  infrastructure/aat.tfvars
Labels: ns:bar-api-pr-221

#220 helm chart for bar
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/FunctionalTest.java
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SpringSecurityConfiguration.java
  api/src/main/resources/bootstrap.yaml
  charts/bar-api/Chart.yaml
  charts/bar-api/requirements.yaml
  charts/bar-api/templates/NOTES.txt
  charts/bar-api/values.aat.template.yaml
  charts/bar-api/values.template.yaml
  kubernetes/.lint.yml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:bar-api-pr-220

#223 using s2s vault for retrieving totp
  api/src/main/resources/bootstrap.yaml
  charts/bar-api/values.template.yaml
Labels: ns:bar-api-pr-223
