Repository hmcts/bar-api, pull requests merged in 2019-02, with the labels that each got.

#202 [BAR-615, 654, 662] Multiple sites
  api/src/main/java/uk/gov/hmcts/bar/api/BarServiceApplication.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/refdata/ReferenceDataController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/exceptions/BadRequestException.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentReference.java
  api/src/main/java/uk/gov/hmcts/bar/api/integration/payhub/service/PayHubService.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/MultisiteConfiguration.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/controller/SiteController.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/model/Site.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/model/SiteRequest.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/repository/SiteRepository.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/service/SiteService.java
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/ReferenceDataControllerTest.java
  api/src/test/java/uk/gov/hmcts/bar/multisite/controller/SiteControllerIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/bar/multisite/controller/SiteControllerTest.java
  api/src/test/java/uk/gov/hmcts/bar/multisite/service/SiteServiceTest.java
Labels: ns:bar-api-pr-202

#203 update java base docker image
  .gitignore
  Dockerfile
Labels: ns:bar-api-pr-203

#195 Bar 556 list reject
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstruction.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/model/PaymentInstructionSearchCriteriaDto.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionStatusRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentInstructionsSpecifications.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/PaymentInstructionUserFilterTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/utils/DbTestUtil.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionSearchTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionStatsTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionServiceTest.java
  build.gradle
Labels: ns:bar-api-pr-195

#206 [BAR-697][AK] Convert all parameters to uppercase on site endpoints
  api/src/main/java/uk/gov/hmcts/bar/multisite/aop/ToUpperCase.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/aop/ToUpperCaseAspect.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/controller/SiteController.java
  api/src/main/java/uk/gov/hmcts/bar/multisite/model/Site.java
  api/src/main/resources/db/changelog/db.changelog-payment-instruction.yaml
  api/src/test/java/uk/gov/hmcts/bar/multisite/controller/SiteControllerIntegrationTest.java
Labels: ns:bar-api-pr-206

#204 BAR-673 bug fix
  api/src/main/java/uk/gov/hmcts/bar/api/data/repository/PaymentReferenceRepository.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentReferenceService.java
  api/src/test/java/uk/gov/hmcts/bar/api/data/service/PaymentReferenceServiceTest.java
Labels: ns:bar-api-pr-204
