Repository hmcts/bar-api, pull requests merged in 2021-03, with the labels that each got.

#442 Bar 4005 new inc
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/bar/api/controllers/payment/PaymentInstructionController.java
  api/src/main/java/uk/gov/hmcts/bar/api/data/service/PaymentInstructionService.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/bar/api/componenttests/ComponentTestBase.java
  api/src/test/java/uk/gov/hmcts/bar/api/controllers/PaymentInstructionStatsTest.java
  build.gradle
  charts/bar-api/Chart.yaml
  charts/bar-api/requirements.yaml
  charts/bar-api/values.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:bar, prd:bar, rel:bar-api-pr-442

#447 PAY-4179-Security Scan issue fix
  audit.json
Labels: ns:bar, prd:bar, rel:bar-api-pr-447

#450 PAY-4118-old database instance de-commissioning
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:bar, prd:bar, rel:bar-api-pr-450

#446 Pay 3403 unit test refactoring
  api/src/test/java/uk/gov/hmcts/bar/api/audit/AppInsightsAuditRepositoryTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/unittests/PaymentInstructionControllerTest.java
  api/src/test/java/uk/gov/hmcts/bar/api/utils/PaymentStatusEnumConverterTest.java
  dependency-check-suppressions.xml
Labels: ns:bar, prd:bar, rel:bar-api-pr-446
