Repository hmcts/bar-api, pull requests merged in 2021-01, with the labels that each got.

#415 fixed for jackson, tomcat core and websocket CVEs
  api/build.gradle
  build.gradle
  client/build.gradle
Labels: ns:bar, prd:bar, rel:bar-api-pr-415

#412 DTSPO-266 Enable self service read only access
  infrastructure/main.tf
Labels: ns:bar, prd:bar, rel:bar-api-pr-412

#408 Pay 3831 helm upgrade
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SpringSecurityConfiguration.java
  api/src/main/resources/application.properties
  build.gradle
  charts/bar-api/Chart.yaml
  charts/bar-api/requirements.yaml
  charts/bar-api/values.yaml
Labels: ns:bar, prd:bar, rel:bar-api-pr-408

#423 Revert "Pay 3831 helm upgrade"
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/bar/api/auth/SiteValidationFilter.java
  api/src/main/java/uk/gov/hmcts/bar/api/configuration/SpringSecurityConfiguration.java
  api/src/main/resources/application.properties
  build.gradle
  charts/bar-api/Chart.yaml
  charts/bar-api/requirements.yaml
  charts/bar-api/values.yaml
Labels: ns:bar, prd:bar, rel:bar-api-pr-423
