Repository hmcts/bar-api, pull requests merged in 2022-08, with the labels that each got.

#538 Fix fortify scan issue for username
  charts/bar-api/values.preview.template.yaml
Labels: ns:bar, prd:bar, rel:bar-api-pr-538

#539 upgraded postgres version to fix cve
  cve-resolution-strategy.gradle
Labels: ns:bar, prd:bar, rel:bar-api-pr-539

#540 Refactor FT tests for data setup and clear down and resolving issues
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/CaseFeeDetailTest.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/PaymentInstructionCreationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/PaymentInstructionUpdateTest.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/ReferenceDataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/SendToPayhubTest.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/TestContextConfiguration.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/config/Oauth2.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/idam/IdamApi.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/idam/IdamService.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/idam/models/User.java
  api/src/functionalTest/java/uk/gov/hmcts/bar/functional/util/BarTestService.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/AuthenticatorClient.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/CaseFeeDetailTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/FunctionalTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionCreationTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/PaymentInstructionUpdateTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/ReferenceDataTest.java
  api/src/functionalTest/java/uk/gove/hmcts/bar/functional/SendToPayhubTest.java
  api/src/functionalTest/resources/functional-test.properties
  api/src/smokeTest/java/uk/gov/hmcts/bar/smoke/SmokeTest.java
  api/src/test/resources/functional-test.properties
Labels: ns:bar, prd:bar, rel:bar-api-pr-540

#532 starting new PR for bar db migration
  Jenkinsfile_CNP
  api/build.gradle
  api/liquibase.gradle
  api/src/main/resources/liquibase.properties
  build.gradle
Labels: ns:bar, prd:bar, rel:bar-api-pr-532

#542 Add backstage configuration file
  catalog-info.yaml
Labels: ns:bar, prd:bar, rel:bar-api-pr-542
